<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411503049546-q5vegmho0pa0gnig8rmo92n04scr950i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411503049546-q5vegmho0pa0gnig8rmo92n04scr950i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>411503049546-fdeqtjv1jl7cjkkvn8sgi02limetqjh5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1cRlErkR2IFkaHdfhjFPARNQC02XCefU</string>
	<key>GCM_SENDER_ID</key>
	<string>411503049546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>fir-fir-mono</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-fir-mono.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411503049546:ios:2fd66156364836ac38dfb3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-fir-mono.firebaseio.com</string>
</dict>
</plist>